* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: rgb(132, 132, 173);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(54, 6, 6);
    font-size: 18px;
    font-weight: bold;
}




